In [2]:
#Dependencies                          
import pandas as pd
import json

In [3]:
#Create DataFrames for each set of data
heros1_df = pd.read_json('purchase_data.json')
heros2_df = pd.read_json('purchase_data2.json')

In [4]:
heros1_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [5]:
heros1_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

# Player Count#######
* Total Number of Players

In [6]:
# Count how many Players "SN" within the dataframe
count_players = heros1_df['SN'].value_counts()
#putting count_players in a dataframe
total_players = pd.DataFrame(count_players)
counter = count_players.sum()
#Create a new dataframe with a title "Player Count"
p_count = pd.DataFrame({"Player Count":[counter]})
p_count

   Player Count
0           780

# Purchasing Analysis (Total)#######
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [8]:
#Number of Unique Items:
unique_items = heros1_df['Item ID'].nunique()
#Average Purchase Price for unique Items:
avrg_purchase = heros1_df['Price'].mean()
#Total Number of Purchases:
total_purchases = len(heros1_df['Price'])
#Total Revenue:
total_revenue = sum(heros1_df['Price'])
#Create DataFrame for Purchasing Analysis
p_analysis_df = pd.DataFrame({"Unique Items":[unique_items],
                        "Average Purchase":[avrg_purchase],
                        "Total Purchases":[total_purchases],
                        "Tota Revenue":[total_revenue]})
p_analysis_df

   Average Purchase  Tota Revenue  Total Purchases  Unique Items
0          2.931192       2286.33              780           183

# Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [68]:
#to get rid of duplicate players
drop_duplicate_plyers = heros1_df.drop_duplicates(['SN'], keep ='last')
#using .value_caounts to extract male, female, and other counts
gender_count = drop_duplicate_plyers["Gender"].value_counts()
#dividing each gender count by to total # and * by 100 to get the percentage of each segmant
gender_percentage = gender_count / counter * 100
#creating a DataFrame to show total number and percentages 
gender_percentage_df = pd.DataFrame({"Percentage of Total players":gender_percentage, 
                                    "Cout":gender_count})
gender_percentage_df

                       Cout  Percentage of Total players
Male                    465                    59.615385
Female                  100                    12.820513
Other / Non-Disclosed     8                     1.025641

# Purchasing Analysis (Gender)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals (normalizing for the # of people in each gender group)

In [106]:
#counts of purchases by the gender
count_purchases_gender = pd.DataFrame(heros1_df.groupby('Gender')['Gender'].count())
#total purchases value by gender
total_purchases_gender = pd.DataFrame(heros1_df.groupby('Gender')['Price'].sum())
#renaming the columns we want to work with
#####merged_gender.rename(columns = {'Gender': 'Count of Purchases', 'Price':'Sum of Purchases'}, inplace=True)
#putting the previous data together
merged_gender = pd.merge(count_purchases_gender, total_purchases_gender, left_index = True, right_index = True)
#adding a column for avgr purchase
merged_gender['Avrg Purchase Price'] = merged_gender['Price'] / merged_gender['Gender']
#Normalized total
merged_gender['Normalized Totals'] = merged_gender['Price'] / merged_gender['Gender']
merged_gender
#for some reason the code above with 5 #s is not working!!
#Price should be renamed to "Sum of Purchases"
#Gender should be renamed to "Count of Purchases"

                       Gender    Price  Avrg Purchase Price  Normalized Totals
Gender
Female                    136   382.91             2.815515           2.815515
Male                      633  1867.68             2.950521           2.950521
Other / Non-Disclosed      11    35.74             3.249091           3.249091

# Age Demographics
#Purchase count
#Average Purchase price
#Total purchase value
#Normalized total

In [15]:
#creating age bin to use it for purchase analysis by the range of ages
heros1_df.loc[(heros1_df['Age'] < 10), 'age_bin'] = "< 10"
heros1_df.loc[(heros1_df['Age'] >= 10) & (heros1_df['Age'] <= 14), 'age_bin'] = "10 - 14"
heros1_df.loc[(heros1_df['Age'] >= 15) & (heros1_df['Age'] <= 19), 'age_bin'] = "15 - 19"
heros1_df.loc[(heros1_df['Age'] >= 20) & (heros1_df['Age'] <= 24), 'age_bin'] = "20 - 24"
heros1_df.loc[(heros1_df['Age'] >= 25) & (heros1_df['Age'] <= 29), 'age_bin'] = "25 - 29"
heros1_df.loc[(heros1_df['Age'] >= 30) & (heros1_df['Age'] <= 34), 'age_bin'] = "30 - 34"
heros1_df.loc[(heros1_df['Age'] >= 35) & (heros1_df['Age'] <= 39), 'age_bin'] = "35 - 39"
heros1_df.loc[(heros1_df['Age'] >= 40), 'age_bin'] = "> 40"

In [16]:
#using the age bin to count purchases
purchase_count_age_bin = pd.DataFrame(heros1_df.groupby('age_bin')['SN'].count())

In [17]:
#avrg price using age bin
avrg_price_age_bin = pd.DataFrame(heros1_df.groupby('age_bin')['Price'].mean())

In [19]:
#total purchase value using age bin
total_purchase_age_bit = pd.DataFrame(heros1_df.groupby('age_bin')['Price'].sum())

In [20]:
#keeping last name in "SN" then counting players using age bin
last_name_age_bin = pd.DataFrame(heros1_df.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())

In [23]:
#mergeing data and put it in DF
merge_age_bin = pd.merge(purchase_count_age_bin, avrg_price_age_bin, left_index = True, right_index = True).merge(total_purchase_age_bit, left_index = True, right_index = True).merge(last_name_age_bin, left_index = True, right_index = True)
#Normalized totals
merge_age_bin['Normalized Totals'] = merge_age['Price_y']/merge_age['SN_x']

In [24]:
#where:
#SN_x is number purchases, Price_x is Avrg purchase, 
#Price_y is total purchase value, SN_y is counts of purchases  
merge_age_bin

         SN_x   Price_x  Price_y  SN_y  Normalized Totals
age_bin
10 - 14    35  2.770000    96.95    23           2.770000
15 - 19   133  2.905414   386.42   100           2.905414
20 - 24   336  2.913006   978.77   259           2.913006
25 - 29   125  2.962640   370.33    87           2.962640
30 - 34    64  3.082031   197.25    47           3.082031
35 - 39    42  2.842857   119.40    27           2.842857
< 10       28  2.980714    83.46    19           2.980714
> 40       17  3.161765    53.75    11           3.161765

# Top Spender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [25]:
purchase_total_name = pd.DataFrame(heros1_df.groupby('SN')['Price'].sum())
count_purchase_name = pd.DataFrame(heros1_df.groupby('SN')['Price'].count())
avrg_purchase_name = pd.DataFrame(heros1_df.groupby('SN')['Price'].mean())

In [27]:
#putting the previous DFs together
top5 = pd.merge(purchase_total_name, count_purchase_name, left_index = True, right_index = True).merge(avrg_purchase_name, left_index=True, right_index=True)

In [29]:
#to sort from High to low and extraxting the top 5
top5.sort_values('Price_x', ascending = False, inplace=True)
top5.head()
#where:
#Price_x is Total P Value, Price_y is count of purchases
#Price is Average perchases

             Price_x  Price_y     Price
SN
Undirrala66    17.06        5  3.412000
Saedue76       13.56        4  3.390000
Mindimnya67    12.74        4  3.185000
Haellysu29     12.73        3  4.243333
Eoda93         11.58        3  3.860000

# **Most Popular Items**
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [35]:
#groupby items using ID:
top5_ID = pd.DataFrame(heros1_df.groupby('Item ID')['Item ID'].count())
#High to sorting
top5_ID.sort_values('Item ID', ascending = False, inplace = True)
#using the first rows
top5_ID = top5_ID.iloc[0:6][:]
#total purchase value
top5_total_Purcahses = pd.DataFrame(heros1_df.groupby('Item ID')['Price'].sum())
#merge count of purchases to total purcahse value 
top5_items = pd.merge(top5_ID, top5_total_Purcahses, left_index = True, right_index = True)
#get duplicate away from DF
drop_duplicate_items = heros1_df.drop_duplicates(['Item ID'], keep = 'last')
# merge to get all other info from the top 6 using the no dup df
top5_ID = pd.merge(top5_items, drop_duplicate_items, left_index = True, right_on = 'Item ID')
#keep the columns we need to present
top5_id_merged = top5_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
#indix resetting
top5_id_merged.set_index(['Item ID'], inplace = True)

In [36]:
top5_id_merged
#where:
#Item ID_x is Purchase Count, Price_y is Item Price
#Price_x is Total Purchase Value

                                    Item Name  Item ID_x  Price_y  Price_x
Item ID
39       Betrayal, Whisper of Grieving Widows         11     2.35    25.85
84                                 Arcane Gem         11     2.23    24.53
31                                  Trickster          9     2.07    18.63
175                Woeful Adamantite Claymore          9     1.24    11.16
13                                   Serenity          9     1.49    13.41
34                            Retribution Axe          9     4.14    37.26

# **Most Profitable Items**
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [40]:
#sorting purchase value from high to low
top5_profitable = pd.DataFrame(heros1_df.groupby('Item ID')['Price'].sum())
top5_profitable.sort_values('Price', ascending = False, inplace = True)

In [41]:
#to keep the top 5 we sorted from high to low
top5_profitable = top5_profitable.iloc[0:5][:]

In [45]:
#count of purchase items
pur_count_profitable = pd.DataFrame(heros1_df.groupby('Item ID')['Item ID'].count())
#merging data
top5_profitable = pd.merge(top5_profitable, pur_count_profitable, left_index = True, right_index = True, how = 'left')
top5_profitable_merged = pd.merge(top5_profitable, drop_duplicate_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_profitable_merged = top5_profitable_merged[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5_profitable_merged.set_index(['Item ID'], inplace=True)

In [46]:
top5_profitable_merged
#where:
#Item ID_x is Purchase Count
#Price_y is Item Price
#Price_x is Total Purchase Value

                          Item Name  Item ID_x  Item ID_x  Price_y  Price_x
Item ID
34                  Retribution Axe          9          9     4.14    37.26
115      Spectral Diamond Doomblade          7          7     4.25    29.75
32                          Orenmir          6          6     4.95    29.70
103                  Singed Scalpel          6          6     4.87    29.22
107       Splitter, Foe Of Subtlety          8          8     3.61    28.88